.border{
	position: absolute;
	float: left;
	left: 50px;
	top: 100px;
	border: 7px solid #FFA500;
	border-radius: 10px;
	width: 400px;
	height: 400px;
	background-color: pink; 
}

.text1{font-weight: bold; font-size: 30pt;}
.text2{font-size: 20pt;}

body{
	background-color: blue;
	background-size: 1500px;
}